version: "5.0"

services:
  frontend:
    build: ./frontend
    ports:
      - 5173:5173
    command: npm run dev
    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /frontend
          ignore:
            - node_modules